@model LanguageApp.Models.Word

@{
    ViewData["Title"] = "Details";
}

<h1>Szczegóły</h1>

<div>
    <h4>Słowo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Polish)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Polish)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Translation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Translation)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.WordId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
