@{
    ViewData["Title"] = "Home Page";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var a = app.HttpContext.Session.GetString("UserId");
}


<div class="text-center">
    <h1 class="display-4">Welcome in LanguageApp!</h1>
</div>
